<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.click">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:theme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pages.Homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pages.Edit_Item" />
        <activity android:name=".pages.Cart" />
        <activity
            android:name=".user.Edit_Profile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".pages.Chat"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".pages.Checkout" />
        <activity android:name=".pages.After_Place_Order" />
        <activity android:name=".pages.Row_Add" />
        <activity android:name=".ActivityDelivery" />

        <activity android:name=".category.All_O" />
        <activity android:name=".category.Business_O" />
        <activity android:name=".category.Camera_O" />
        <activity android:name=".category.Car_O" />
        <activity android:name=".category.Car_Accessories_O" />
        <activity android:name=".category.Computer_O" />
        <activity android:name=".category.Electronics_O" />
        <activity android:name=".category.Women" />
        <activity android:name=".category.Food_O" />
        <activity android:name=".category.Furniture_O" />
        <activity android:name=".category.Grocery_O" />
        <activity android:name=".category.Handcraft_O" />
        <activity android:name=".category.Home_Appliances" />
        <activity android:name=".category.House_Rent" />
        <activity android:name=".category.House_Sales" />
        <activity android:name=".category.Men" />
        <activity android:name=".category.Mom" />
        <activity android:name=".category.Motorcycles" />
        <activity android:name=".category.Pets" />
        <activity android:name=".category.Service" />
        <activity android:name=".category.Sport" />
        <activity android:name=".category.Travel" />
        <activity android:name=".pages.Saved_Searches_View" />
        <activity android:name=".pages.Saved_Searches_Other" />
        <activity android:name=".pages.Find_My_Items_Other" />
        <activity android:name=".pages.Sell_Items_Other" />
        <activity android:name=".pages.Main_Order_Other" />
        <activity android:name=".pages.Chat_Inbox_Other" />
        <activity android:name=".Edit_Delivery" />
        <activity android:name=".View_Item_Single" />
        <activity android:name=".Seller_Shop" />
        <activity android:name=".Shipping_Info" />
        <activity android:name=".pages.Other_Cart" />
        <activity android:name=".user.Edit_Profile_Address" />
        <activity android:name=".Goto_Register_Page" />
        <activity android:name=".Register_Seller" />
        <activity android:name=".Detail_Info" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>